* {
  margin: 0;
  padding: 0;
}
.master-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}
.Top-background {
  position: fixed;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 90;
  display: flex;
  background-color: #2a5555;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: 0.5s;
}
.left-top-contents {
  position: fixed;
  min-width: 60%;
  min-height: 100%;
  width: auto;
  height: auto;
  border-top: 100vh solid black;
  border-right: 120px solid transparent;
  z-index: 93;
  opacity: 0.86;
}
.contents {
  position: absolute;
  padding-top: 10px;
  width: 60%;
  z-index: 95;
  transition: 0.5s;
}
.contents .text {
  width: 100%;
}
.contents .text h1 {
  color: white;
  text-align: center;
}
.contents .Berana-logo {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.Berana-logo img {
  width: 110px;
  height: 150px;
}
.contents p {
  text-align: center;
  color: white;
}
.Berana-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.Berana-text h4 {
  color: white;
  text-align: center;
  font-size: 22px;
  text-align: left;
  font-weight: 300;
  width: 60%;
}
.user-input-container {
  display: flex;
  padding: 10px 0px;
}
.user-input {
  margin: 0 auto;
}
.user-input input {
  width: 100%;
  padding: 6px 6px;
  margin-bottom: 10px;
}
.user-input select {
  width: 104%;
  padding: 6px 6px;
  margin-bottom: 10px;
}
#userToSpacify {
  display: none;
  margin-bottom: 15px;
}
#userToSpacify textarea {
  width: 104%;
  resize: none;
}
span {
  color: white;
}
.btn {
  width: 105%;
  background-color: #2a5555;
  padding: 6px 6px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.bottom-content {
  text-align: center;
}
.Investment-text {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.Investment-text a {
  text-decoration: none;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  color: black;
  font-weight: 500;
  transition: 0.4s;
}
.Investment-text a:hover {
  background: none;
  border: 2px solid white;
  color: white;
  transition: 0.4s;
}
.social-icons {
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 100;
}
.icons a {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  padding: 12px;
  margin: 0 10px 10px;
}
.icons a:hover {
  background: none;
  padding: 12px;
  border: 1px solid white;
}
@media only screen and (max-width: 1066px) {
  .contents {
    padding-top: 60px;
    transition: 0.5s;
  }
  .Berana-logo img {
    width: 80px;
    height: 120px;
  }
  .Berana-text h4 {
    text-align: center;
    font-size: 20px;
    width: 70%;
  }
}
@media only screen and (max-width: 676px) {
  .left-top-contents {
    border-top: 100vh solid black;
    border-right: 520px solid transparent;
    transition: 0.5s;
  }
  .social-icons {
    position: absolute;
    top: 80%;
  }
  .contents {
    width: 100%;
  }
}
@media only screen and (max-width: 438px) {
  .left-top-contents {
    border-top: 88vh solid black;
    border-right: 1000em solid transparent;
    transition: 0.5s;
  }
  .social-icons {
    position: absolute;
    top: 90%;
    left: 33%;
  }
  .icons {
    display: flex;
  }
  .icons a {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 423px) {
  .user-input input {
    width: 80%;
  }
  .user-input select {
    width: 85%;
  }
  #userToSpacify textarea {
    width: 84%;
  }
  .btn {
    width: 85%;
  }
  .contents{
    width: 100%;
  }
  .user-input {
    position: absolute;
    left: 10%;
  }
  .Investment-text {
    margin-top: 16px;
    display: block;
    position: absolute;
    left: 13%;
  }
}
@media only screen and (max-width: 423px) {
  .contents {
    padding-top: 1px;
  }
}